@use 'tailwindcss';

@use '@fontsource-variable/space-grotesk';
@use '@fontsource/space-mono';

@plugin '@tailwindcss/typography';

html,
body {
  font-family: 'Space Grotesk Variable', sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 1s 1s 1 normal both;
}

// Credits: https://codepen.io/chalarangelo/pen/MWMdMaX
.mouse-cursor-gradient-tracking {
  overflow: hidden;
  position: relative;

  &::before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #fff2, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
  }

  &:hover::before {
    --size: 200px;
  }
}