@use 'tailwindcss';

@use '@fontsource-variable/space-grotesk';
@use '@fontsource/space-mono';

@plugin '@tailwindcss/typography';

html {
	font-family: 'Space Grotesk Variable', sans-serif;
	scroll-behavior: smooth;
	scroll-padding-top: 0.5rem;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fade-in {
	animation: fade-in 1s 1s 1 normal both;
}

// Credits: https://codepen.io/chalarangelo/pen/MWMdMaX
.mouse-cursor-gradient-tracking {
	overflow: hidden;
	position: relative;
	z-index: 0;

	&::before {
		--size: 0;
		content: '';
		position: absolute;
		left: var(--x);
		top: var(--y);
		width: var(--size);
		height: var(--size);
		background: radial-gradient(circle closest-side, #0002, transparent);
		transform: translate(-50%, -50%);
		transition:
			width 0.2s ease,
			height 0.2s ease;
		z-index: -1;

		@media (prefers-color-scheme: dark) {
			background: radial-gradient(circle closest-side, #fff2, transparent);
		}
	}

	&.dark::before {
		background: radial-gradient(circle closest-side, #fff2, transparent);
	}

	&:hover::before {
		--size: 200px;
	}
}