<script lang="ts">
  import Typewriter from '$c/Typewriter.svelte';
  import Fade from '$c/Fade.svelte';
</script>

# <Typewriter text="Hello." />

<Typewriter text="I'm Leonard, a full stack developer from Germany &#x2774;&#x1f1e9;&#x1f1ea;&#x2775;." delay={6} />

<div>
  <Fade delay={57}>
    <a href="/about">About me</a>
  </Fade>
  <Fade delay={62}>
    <a href="/projects">My projects</a>
  </Fade>
  <Fade delay={67}>
    <a href="/contact">Contact me</a>
  </Fade>
</div>