@import '@fontsource/plus-jakarta-sans';
@import '@fontsource/fira-mono';

$sans: 'Plus Jakarta Sans', sans-serif;
$mono: 'Fira Mono', monospace;

* {
  transition-duration: 0.33s;
}

html {
  font-family: $sans;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #000;
  color: #fff;
}

nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 3rem;
  background-color: #0000;
  backdrop-filter: blur(10px);
  color: #fff;
  border-bottom: 1px solid #fff3;
  overflow: hidden;
  z-index: 1000;

  header {
    font-weight: 900;
    font-size: 2rem;
    line-height: 3rem;
    height: 100%;
    width: 18rem;
    text-align: center;
    float: left;
  }

  ul {
    float: right;
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: calc(100vw - 22rem);
    height: 100%;

    li {
      &:not(:last-child) {
        border-right: 1px solid #fff3;
      }

      &:last-child a {
        padding-right: 0.5rem;
      }
    }

    a {
      color: #fff;
      text-decoration: none;
      padding: 0 1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 1rem;
        margin-right: 0.25rem;
      }

      &:hover {
        color: #23aeb5;
      }
    }
  }

  #lang {
    width: 3.5rem;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    color: #777;
    text-decoration: none;

    &:hover {
      color: #23aeb5;
    }

    svg {
      width: 1.25rem;
      margin-right: 0.25rem;
    }
  }
}

main {
  margin-top: 3rem;
  padding: 1rem;
  height: calc(100vh - 5rem);

  h1 {
    text-align: center;
  }
}

footer {
  line-height: 3rem;
  text-align: center;

  a {
    color: #aaa;
    font-size: 0.9rem;
    text-decoration-color: #0000;
    text-decoration-thickness: 1px;

    &:hover {
      text-decoration-color: #aaa;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

.cursor::before {
  content: '|';
  animation: blink 0.75s infinite;
  font-weight: 100;
}